# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python cache
__pycache__/
*.py[cod]
*.pyo

# virtualenv
env/

# test file
test_db_setup.py
tmp_untracked_backups/
tmp_merge_backups/

# images / uploads
backend/static/uploads/
**/static/uploads/

# database files
backend/instance/users.db

# yarn
frontend/market/yarn.lock

# package-lock
frontend/market/package-lock.json


